<%- include("partials/Navbar") -%>

<form action="product" method="post">
    Prodcut name: <input type="text" name="pName"><br>
    Price: <input type="text" name="pPrice"> <br>
    Country: <input type="text" name="pCountry"> <br>
    <button>add</button>
</form>
