
<form action="/update/<%= id %>" method="post">
    Prodcut name: <input type="text" name="pName"><br>
    Price: <input type="text" name="pPrice"> <br>
    Country: <input type="text" name="pCountry"> <br>
    <button>add</button>
    <h1><%= id %></h1>
</form>
 <a href="/">Go back to home</a>